{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Info about our Company</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde iure, soluta.
        Ullam vitae repellendus beatae fugiat eveniet atque soluta? Ullam commodi
        ipsam fuga deleniti illo ut, quas dolore minus ab incidunt eius error architecto
        voluptatibus voluptas nostrum excepturi omnis, laboriosam! Ipsa nisi ab, impedit recusandae c
        onsequatur tempora aliquid cumque magni, et deleniti accusamus suscipit! Quasi ullam velit
        similique quas beatae ducimus dolor cupiditate laboriosam odio quaerat, quam, aliquam, nobis
        dolores rem? Modi illo earum quis est beatae corrupti possimus quod, molestias veniam animi
        quisquam ut exercitationem inventore, laboriosam aspernatur, quos reprehenderit quam perferendis rem,
        accusamus fugit adipisci nam. Rerum, assumenda.</p>
</div>

{% endblock %}